.col-lg-6, .col-lg-3 {
	padding-right: 5px;
	padding-left: 5px;
}
.bg-yellow {
    background-color: transparent !important;
    color: #2d2d2d;
    border: 1px solid lightgrey;
}

.f5dev-box-header {
    background: #e19812 !important;
}
.f5dev-bredcrumb {
  background: rgb(220,53,69);
  border: 0px solid rgba(245, 245, 245, 1);
  padding: 10px 0;
  border-radius: 0;
  margin-bottom: 10px;
}
.f5dev-bredcrumb .breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 0;
}
.f5dev-bredcrumb .breadcrumb li {
  margin: 0 10px;
}
.f5dev-bredcrumb .breadcrumb li a {
  color: #fff;
}
/* Small Box */
.f5dev-box {
    position: relative;
    margin-bottom: 10px;
}
.f5dev-box:hover {
    box-shadow: 3px 3px 4px #ccc;
    transition: 0.3s;
    text-decoration: none;
transform: scale(1.04);transform: scale(1.04);
}

.f5dev-box[data-link]:hover {
    cursor: pointer;
}
.f5dev-box[data-link="#"]:hover {
    cursor: default;
}
a[href="#"]:hover,a[href="javascript:void(0)"] {
    cursor: default;
}
.f5dev-box:hover >div >a {
    text-decoration: none;
}
.f5dev-box > .inner {
    padding: 10px;
}
.f5dev-box h3, .f5dev-box p {
    z-index: 5;
}
.f5dev-box h3 {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}
.f5dev-box p {
    font-size: 15px;
    margin: 0 0 10px;
}
.f5dev-box .f5dev-box-icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 0;
    font-size: 48px;
    color: rgba(0,0,0,0.15);
}
/* .f5dev-box:hover .f5dev-box-icon {
    font-size: 70px;
} */
.f5dev-box > .f5dev-box-header {
	font-size: 15px;
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
    height: 50px;
}
.f5dev-box > .f5dev-box-header a {
    color: #fff;
    text-transform: uppercase;
}
.f5dev-social {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241, 241, 241);
    color: rgb(44, 120, 228);
    margin: 5px 0px;
    height: 120px;
    border: 1px solid lightgrey;
    box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.5);
    border: 0;
    user-select: none;
    cursor: pointer;
}
.f5dev-social h3 {
	color: #fff;
    margin-top: 20px;
}
.f5dev-social i {
	color: #fff;
    margin-top: 20px;
}


.f5dev-content {
    margin: 0px 40px;
}
